<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sust.jiancunqu.mapper.FileMapper">

    <select id="selectAll" resultType="File">
        select *
        from File
    </select>

    <select id="selectByName" resultType="File">
        select *
        from File
        where file_name = #{fileName}
    </select>
    <select id="findByName" resultType="File">
        select *
        from File
        where name = #{name}
    </select>

    <insert id="save">
        insert into File(file_name, file_size, ptime, name, url, share)
        values (#{fileName}, #{fileSize}, #{ptime}, #{name}, #{url}, #{share})
    </insert>



</mapper>