<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>简存取</title>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/jiancunqu.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/jiancunqu.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<body>
<!--通用导航栏-->
<div th:fragment="header-common">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="navbar-header">
                    <span class="navbar-brand">简存取</span>
                </div>
            </div>

            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"></div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div th:if="${admin_name}!= null" class="pull-right navbar-header">
                    <span class="navbar-brand" th:text="${' 尊敬的管理员，'+ admin_name+'，您好！' }"> </span>
                </div>
                <div th:if="${user}!=null" class="pull-right navbar-header">
                    <span class="navbar-brand" th:text="${' 尊敬的用户，'+ user.getName()}+'，您好！'"> </span>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <div th:if="${admin_name!= null || user!=null}">
                    &nbsp;
                    <a class="navbar-brand" href="/logout" data-toggle="tooltip" data-placement="right" title="注销">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>

</div>
</nav>
</div>

</body>

</html>