<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>简存取</title>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/jiancunqu.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/jiancunqu.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .up_form {
            text-align: center;
        }
    </style>
</head>
<body>
<!--导航-->
<div th:replace="~{nav::header-common}"></div>


<div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 table-margin">

        <script type="text/javascript">
            function _s() {
                var f = document.getElementById("f").files;

                //var welcome = document.getElementById("span_welcome").textContent;
                //var input_usr = document.getElementById("user_id");
                //var begin = welcome.indexOf(":") + 1;
                //var end = welcome.indexOf("，");
                //input_usr.value = welcome.substring(begin, end);

                //上次修改时间
                //alert(f[0].lastModifiedDate);
                var time = document.getElementById("file_time");
                //time.textContent = f[0].lastModifiedDate.toLocaleString();
                time.value = f[0].lastModifiedDate.toLocaleDateString();

                //名称
                //alert(f[0].name);
                var name = document.getElementById("file_name");
                //name.textContent = f[0].name;
                name.value = f[0].name;

                //大小 字节
                //alert(f[0].size);
                var size = document.getElementById("file_size");
                //size.textContent = f[0].size + '字节';
                size.value = f[0].size;

                var di = document.getElementById("hid");
                di.hidden = false;

            }

            function cancel() {
                var di = document.getElementById("hid");
                di.hidden = true;
            }
        </script>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>文件名</th>
                <th>文件大小</th>
                <th>修改时间</th>
                <th>下载</th>
                <th>共享</th>
                <th>删除</th>
            </tr>
            </thead>
            <tr colspan="4">
                <img src="./img/directory.png" width="100" zheight="100"><a href="/shareFile">公司共享文件</a>
            </tr>

            <tbody>
            <tr th:each=" item : ${file_list}">
                <!--<th th:text="${item.fileName}"></th>-->

                <td><a th:href="${item.url}" th:text="${#strings.substring(item.fileName, #strings.indexOf(item.fileName, '_') + 1)}"></a></td>

                <th th:text="${item.fileSize + '字节'}"></th>
                <td th:text="${item.ptime}"></td>

                <td><a th:href="${'/download?file_name=' + item.fileName}"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></a></td>
                <td><a th:href="${'/share?file_name=' + item.fileName }" onclick="return confirm('确定分享?');"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span></a></td>
                <td><a th:href="${'/delete?file_name=' + item.fileName}" onclick="return confirm('确定删除?');"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <hr/>

    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
</div>

<div class="up_form">
    <!--bootstrap实现弹出模态框-->
    <center>
        <button class="btn btn-default" data-target="#myModal" data-toggle="modal" id="up_bt">
            上传文件
        </button>
    </center>
    <!--fade 淡入淡出-->
    <div class="modal fade"  id="myModal" aria-labelledby="myModallabel" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title" id="myModallabel">上传文件</h5>
                </div>

                <form id="formData" class="form-horizontal" action="/upload" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="file" name="f" id="f" onchange="document.getElementById('file_path').textContent=this.value"/>
                            <br/>
                            <input  type="button" name="aa" id="aa" value="确定选择" onclick="javascript: _s();" />
                        </div>

                        <div id="hid" hidden="true">

                            <div class="form-group" >
                                <label class="control-label col-lg-2">所属用户</label>
                                <div class="col-lg-9">
                                    <input type="text" name="name" id="user_id" th:value="${user.getName()}"  />
                                </div>
                            </div>

                            <div class="form-group" >
                                <label class="control-label col-lg-2">文件名称</label>
                                <div class="col-lg-9">
                                    <input type="text" name="file_name" id="file_name" />
                                </div>
                            </div>

                            <div class="form-group" >
                                <label class="control-label col-lg-2">文件大小</label>
                                <div class="col-lg-9">
                                    <input type="text" name="file_size" id="file_size"  />
                                </div>
                            </div>

                            <div class="form-group" >
                                <label class="control-label col-lg-2">修改时间</label>
                                <div class="col-lg-9">
                                    <input type="text" name="file_time" id="file_time"  />
                                </div>
                            </div>

                            <div class="modal-footer">
                                <input type="submit" value="上传" formenctype="multipart/form-data" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>




</body>